/* DO NOT CHANGE/EDIT ANY OF THIS CSS CODE */

@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Oswald|Permanent+Marker');
/* Body */
html, body {
  margin: 0;
  background-color: #eee;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: DarkRed;
}
/* Header */

header > h1 {
  color: #7B3B3B;
}

h2, h3{
  font-family: 'Special Elite', cursive;
  font-size: 25px;
}
/*  Main */
main > h2 {
  text-align: center;
  color: #668284;
}

main > h1 {
  margin: 0;
  padding: 10px;
}

ul, ol {
  color: rgb(172, 65, 65);
  font-size: 18px;
}
/* Header */
header h1 {
  text-align: center;
  font-size: 30px;
font-family: 'Permanent Marker', cursive;
}

header h2 {
  text-align: center;
  font-size: 10px;
font-family: 'Permanent Marker', cursive;
}
/* Paragraph */
p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
	color: rgb(172, 65, 65);
}
.motivations{
  margin-left: 30%;
  text-align: left;
  width:50%
}
ul{
  color: rgb(172,65,65);
  font-size:18px;
  font-family: 'Times New Roman', Times, serif;
}


footer p {
  color: #668284;
}
/* Email Links */
a[href^="mailto:"] {
    text-decoration: none;
}
/* Hover, visited */
a:visited { color: blue(120, 100%, 5%); }
a:hover   { color: hsl(0, 100%, 35%); }